footer
  .socials
    a(href="https://twitter.com/intent/tweet?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="An app for sending a random poem from PoetryDB via email! made with @reactjs + @greensock for #CodePenChallenge by @_jh3y"
    data-related="" data-show-count="false") Tweet it!
    script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
  - madeBy = ` made with ✨ by `
  a(href="https://github.com/jh3y/send-a-poem", target="_blank") send-a-poem
  span=madeBy
  a(href="https://jheytompkins.com") jh3y